.casa{
	margin-top: 60px;
}
.piso{
	border: 2px solid black;
	height: 300px;
}
.no-list{
	list-style: none;
	display: inline;
	border: 0;
	margin: 0;
}
.no-list li{
	display: inline;
}
#pisoView img{
	max-width: 100%;
}
.pisoLista:hover{
	background-color: #E0DCA6;
	cursor: pointer;
}
.on{
	color: green;
	font-weight: bold;
}
.off{
	color: red;
	font-weight: bold;
}
.parte_superior_sensor{
	font-size: 12px;
}
.alert_icon{
	vertical-align: middle;
}
.casillasPiso{
	margin: 20px 0;
}


.blink {
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-name: blink;
}
 
@keyframes blink {
    0% {
        opacity: 1;
    }
    75% {
        opacity: 1;
    }
    76% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}